:root {
    --page-background: #eee;
    --container-background: #FFF;

    --border-radius-regular: 0.5rem;
    --border-radius-extra: 1rem;

    --box-shadow-regular: 0px 0px 1rem rgba(0, 0, 0, 0.02);
    --box-shadow-dark: 0px 0px 1rem rgba(0, 0, 0, 0.04);
    --box-shadow-light: 0px 0px 1rem rgba(0, 0, 0, 0.01);
}

body {
    background-color: var(--page-background);
}

.page {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 1rem;
    background: var(--container-background);
    box-sizing: border-box;
    padding: 1rem;

    border-radius: var(--border-radius-regular);
    box-shadow: var(--box-shadow-regular);
}

.btn {
    border-radius: var(--border-radius-extra);
}
